body{
    background:#0d1117;
    color:white;
}

.card{
    background:#161b22;
    border:none;
    border-radius:15px;
}

.btn-gold{
    background:#d4af37;
    color:black;
    font-weight:bold;
}

.btn-gold:hover{
    background:#f7d75b;
}

.logo{
    font-size:35px;
    font-weight:bold;
    color:#FFD700;
}

input{
    background:#21262d!important;
    color:white!important;
    border:none!important;
}

input::placeholder{
    color:#ccc!important;
}

a{
    color:#FFD700;
}
.navbar{
    background:#111827!important;
}

.sidebar{
    background:#161b22;
    border-radius:15px;
    padding:20px;
}

.post-card{
    background:#161b22;
    border-radius:15px;
    padding:20px;
    margin-bottom:20px;
}

.post-card img{
    width:100%;
    border-radius:10px;
}

.category-item{

padding:10px;

margin-bottom:8px;

border-radius:10px;

transition:.3s;

cursor:pointer;

}

.category-item:hover{

background:#FFD700;

color:black;

}

.avatar{

width:45px;

height:45px;

border-radius:50%;

object-fit:cover;

}
/* ===========================
   DETAIL POST
=========================== */

.post-detail{
    background:#161b22;
    color:white;
    border:none;
    border-radius:15px;
    padding:25px;
}

.post-detail h2{
    color:#FFD700;
    font-weight:bold;
}

.post-detail p{
    color:#e6e6e6;
}

.post-detail strong{
    color:#FFD700;
}

.post-detail img{
    border-radius:12px;
    box-shadow:0 0 15px rgba(0,0,0,.5);
}

/* ===========================
   KOMENTAR
=========================== */

.comment-card{
    background:#1f2937;
    color:white;
    border:none;
    border-radius:12px;
}

.comment-card h6{
    color:#FFD700;
    margin-bottom:10px;
}

.comment-card p{
    color:#f5f5f5;
}

/* Textarea komentar */

textarea{
    background:#21262d!important;
    color:white!important;
    border:1px solid #333!important;
}

textarea::placeholder{
    color:#bbb!important;
}